/venv/*
/idea/*
/.idea/*
*.pyc
*.log
incentive_server/Logs/*
ENV
incentive_server/Model
incentive_server/*.env
.vscode
incentive_server/.vscode
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/
.env
.venv
env/
venv/
env.bak/
venv.bak/
.devcontainer
.devcontainer_incentive
AskForHelp_pilot_data/
AskForHelp_pilot2_data/
**.ipynb
docker-compose.dev.yaml
docker-compose.yaml
docker-compose_not_working.yaml
**.csv
**.log
incentive_server_prod.postman_collection.json
incentive_server_dev.postman_collection.json
incentive_server_beta.postman_collection.json
backup_s3.sh
db.json
incentive.site-old.conf
db_clean.json
prod_db
